<form>
    <span class="dialog-name">Event</span>
    <span class="date" [innerText]=""></span> <!-- date ov event in [innerText] -->

    <span class="title">
        <span>Title:  </span>
        <input type="text" class="title">
    </span>
    <span class="description">
        <span>Description:  </span>
        <input type="text" class="description">
    </span>

    <span class="buttons">
        <button class="ok">OK</button>
        <button class="cancel" (click)="this.closeDialog()">Cancel</button>
    </span>
</form>
