:host {
    background: white;
    display: block;
    height: 100px;
    width: 200px;
    border: solid 1px black;
    z-index: 1;
    position: fixed;
    margin: 10px auto;
}
:host>span.dialog-name span.date {
    display: block;
    font-size: 20px;
}

span.title span.description{
    display: block;
}
span.title span, span.title input, span.description span, span.description input {
    display: inline-block;
}

span.buttons {
    display: block;
}
button {
    display: inline-block;
}