:host {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    height: 60px;
    width: 120px;
    border: solid 1px blue;
    background: #eae8e9;
}

.weekend {
    color: red;
    font-weight: bold;
}

button {
    display: block;
    margin: 3px auto;
    position: relative;
    height: 24px;
    width: 90px;
}
.weekend {
    font: red;
}