span.year {
  font-size: 70px;
  display: block;
}

span.month {
  display: block;
  font-size: 30px;
  margin-bottom: 10px;
}

span.calendar-container {
  position: fixed;
  display: block;
  border: black 3px;
  width: 840px;
}

span.day-container {

  position: relative;
  display: inline-block;
  box-sizing: border-box;
  height: 60px;
  width: 120px;
  border: solid 1px blue;
  background: #eae8e9;
}
.calendar-container .day-container .day {}
